{% extends "base_generic.html" %}

{% block content %}


<h4 class="card-title"><h1>Catalog</h1></h4>
<div class="table-responsive">
        {% if author_list %}
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Date of Death</th>
                    <th>Profile</th>
                </tr>
            </thead>

            <tbody>
                {% for author in author_list %}
                
               
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><span >{{ author }} </span></td>
                   
                    <td class="color-primary">{{author.date_of_birth}} - </td>
                    <td class="">{% if author.date_of_death %}{{author.date_of_death}}{% else %}<span class="badge badge-success">Alive</span>{% endif %}</td>
                    <td><a href="{{ author.get_absolute_url }}">
                        
                        
                        <button type="button" class="btn btn-info btn-rounded m-b-10 m-l-5">View Profile </button></a>
                    </li></td>
                </tr>
                {% endfor %}

                
            </tbody>
        </table>
        {% else %}
<p>There are no author in the library.</p>
{% endif %}  
    </div>


{% endblock %}