{% extends "base_generic.html" %}

{% block profile %}
<div class="card">
    <div class="card-body">
        <div class="card-two">
            <header>
                <div class="avatar">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Paulo_Coelho_nrkbeta.jpg/800px-Paulo_Coelho_nrkbeta.jpg" alt="Allison Walker">
                </div>
            </header>
  
            <h3>{{ author }} </h3>
            <div class="desc">
                <p>{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
            </div>
          
        </div>
    </div>
  </div>
{% endblock %}




{% block content %}

<div class="table-responsive">
  <div style="margin-left:20px;margin-top:20px">
    <h1>Books of : {{ author.first_name }} {{author.last_name}} </h1>
    <dl>
      <ul class="list-icons"> 

     

      {% for book in author.book_set.all %}
     
      <dt ><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt> 
      <br>
      <dd>{{book.summary}}</dd>
      <hr>
      {% endfor %} </ul>
    </dl>
  </div>
  {% endblock %}