{% extends "base_generic.html" %}

{% block content %}
<h4 class="card-title"><h1>Catalog</h1></h4>
<div class="table-responsive">
    {% if book_list %}
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Detais</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr>
                <th scope="row">1</th>
                <td>{{ book.title }}</td>
                <td class="color-primary">{{book.author}}</td>
                <td>
                    <!--<span class="badge badge-success">Available</span>-->
                    {% for copy in book.bookinstance_set.all %}
                    <span class="badge {% if copy.status == 'a' %}badge-success{% elif copy.status == 'm' %}badge-danger{% else %}badge-warning{% endif %}">{{ copy.get_status_display }}</span>
                    {% endfor %}
                </td>
                <td><a href="{{ book.get_absolute_url }}">
                    <button type="button" class="btn btn-info btn-rounded m-b-10 m-l-5">View Details </button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no books in the library.</p>
    {% endif %}
</div>
{% endblock %}